<div id="<%= dom_id comment %>">
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>
<% if current_user.role == "admin" %>
  <p>
    <strong>Status:</strong>
    <%= comment.status %>
  </p>
  <% end %>
</div>
