<div id="<%= dom_id post %>">
  <p>
    <strong class="post-title">
      <%= post.title %>
    </strong>
  </p>
  <hr>
  <p>
    <%= post.body %>
  </p>
  <% if current_user && current_user.role == "admin" %>
    <p>
      <strong>Status:</strong>
      <%= post.status %>
    </p>
  <% end %>
</div>
