.bg-color-1 {
  background-color: #0b1416;
}

.bg-color-2 {
  background-color: #243439;
}

.text {
  color: white;
}

.custom-card {
  border-radius: 20px;
  overflow: hidden;
}

.custom-card-body {
  padding: 20px;
}

.custom-card-footer {
  padding: 10px;
  background-color: #243439;
}

.post-title {
  font-size: 25px;
}

.avatar-small {
  width: 32px;
  height: 32px;
}

.avatar-medium {
  width: 200px;
  height: 200px;
}

.post-image {
  max-width: 100%;
  display: block;
}

.avatar-large {
  width: 150px;
  height: 150px;
}

.rounded-circle {
  border-radius: 50%;
}

.profile-container {
  margin-top: 50px;
}

.avatar-container {
  margin-top: 20px;
}

.text-white {
  color: white;
}

.custom-link {
  color: inherit;
  text-decoration: none;
}

.custom-link:hover {
  text-decoration: underline;
}
